/* custom styles for PtWindow */

menubutton {
	font-family: monospace;
	font-size: 150%;
	font-weight: 600;
}

* {
	transition-property: background-color;
	transition-duration: 1s;
}

progressbar > trough {
	border: 0;
	background: transparent;
}

progressbar > trough.full > progress {
	background-color: transparent;
	border: 0;
}

grid {
	padding: 6px;
}
