/* custom styles for PtWindow */

menubutton {
	font-family: monospace;
	font-size: 150%;
	font-weight: 600;
}

progressbar > trough {
  background: transparent;
  border: transparent;
}

window > grid {
  padding: 6px;
}

notebook > stack {
	padding: 6px;
}

row {
  padding: 6px;
}

.ptdialog > box {
  padding: 12px;
}
