/* custom styles for PtWindow */

#time_label {
	/* Tried Cantarell first, but digits are not always monospace:
	   They are on Debian 8, but not on Ubuntu 16.4 */
	font-family: monospace;
	font-size: 150%;
	font-weight: 600;
}

* {
	transition-property: background-color;
	transition-duration: 1s;
}

progressbar > trough {
	border: 0;
	background: transparent;
}

progressbar > trough.full > progress {
	background-color: transparent;
	border: 0
}
