# For more information, see:
#
#   https://clang.llvm.org/docs/ClangFormat.html
#   https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# Based on GTK conventions

BasedOnStyle: GNU

AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBinaryOperators: None
BinPackParameters: false
SpaceAfterCStyleCast: true
ColumnLimit: 0

# Sorting includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeIsMainSourceRegex: 'h$'
IncludeCategories:
  - Regex:           '^"config.h"'
    Priority:        -1
  - Regex:           '^"'
    Priority:        2
  - Regex:           '^<'
    Priority:        3