*.o
*.lo
*.la
*~
*.pot

*.tar.gz
*.tar.gz.asc
/build/
/builddir/
ChangeLog
debian/
help-online/
/uninstall/

/libparlatype/test-driver
/libparlatype/docs/reference/*.stamp
/libparlatype/docs/reference/gtkdoc-check.*
/libparlatype/docs/reference/test-suite.log
/libparlatype/docs/reference/version.xml
/libparlatype/docs/reference/parlatype.*
/libparlatype/docs/reference/parlatype-decl*.txt
/libparlatype/docs/reference/parlatype-overrides.txt
/libparlatype/docs/reference/parlatype-un*.txt
/libparlatype/docs/reference/html*
/libparlatype/docs/reference/xml/
/libparlatype/tests/*coverage.info
/libparlatype/tests/*-coverage/
/libparlatype/tests/*.log
/libparlatype/tests/*.trs
/libparlatype/tests/player
/libparlatype/tests/progressdialog
/libparlatype/tests/wavedata
/libparlatype/tests/waveloader
/libparlatype/tests/waveviewer

/help/??*/*.page
/help/??*/*.mo
/help/??*/*.stamp
/help/??*/legal.xml

**/po/ChangeLog
**/po/Makevars.template
**/po/POTFILES
