*.o
*.lo
*.la
*~
*.pot

Makefile
Makefile.in

.deps/
.libs/

*.tar.gz
ABOUT-NLS
aclocal.m4
**/autom4te.cache/*
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1

/data/org.gnome.parlatype.appdata.xml
/data/org.gnome.parlatype.desktop
/data/org.gnome.parlatype.gschema.valid

/libparlatype/test-driver
/libparlatype/data/parlatype.pc
/libparlatype/data/parlatype.xml
/libparlatype/docs/reference/*.stamp
/libparlatype/docs/reference/gtkdoc-check.*
/libparlatype/docs/reference/test-suite.log
/libparlatype/docs/reference/version.xml
/libparlatype/docs/reference/parlatype.*
/libparlatype/docs/reference/parlatype-decl*.txt
/libparlatype/docs/reference/parlatype-overrides.txt
/libparlatype/docs/reference/parlatype-un*.txt
/libparlatype/docs/reference/html*
/libparlatype/docs/reference/xml/
/libparlatype/src/pt-resources.*
/libparlatype/src/*.gir
/libparlatype/src/*.typelib

/help/??*/*.page
/help/??*/*.mo
/help/??*/*.stamp
/help/??*/legal.xml

/libreoffice/Parlatype.py

**/po/*.gmo
**/po/.intltool-merge-cache
**/po/boldquot.sed
**/po/ChangeLog
**/po/en@boldquot.header
**/po/en@quot.header
**/po/insert-header.sin
**/po/Makefile.in.in
**/po/Makevars.template
**/po/missing
**/po/POTFILES
**/po/quot.sed
**/po/remove-potcdate.sin
**/po/Rules-quot
**/po/stamp-it

/src/.deps/
/src/parlatype
/src/pt-resources.*
