.clang-format         export-ignore
.editorconfig         export-ignore
.gitattributes        export-ignore
.githooks/            export-ignore
.gitignore			      export-ignore
data/icons/scalable/org.parlatype.Parlatype.Devel.svg	export-ignore
data/icons/source		  export-ignore
ISSUE_TEMPLATE.md		  export-ignore
maint/                export-ignore
tools/                export-ignore