*.o
*~
Makefile
Makefile.in

/*.tar.gz
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/*
/ChangeLog
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/m4/
/missing
/stamp-h1

/data/parlatype.desktop
/data/parlatype.desktop.in
/data/org.gnome.parlatype.gschema.valid

/help/parlatype.pot
/help/de/de.mo
/help/de/de.stamp

/po/*.gmo
/po/*.pot
/po/.intltool-merge-cache
/po/boldquot.sed
/po/ChangeLog
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/Makefile.in.in
/po/Makevars.template
/po/missing
/po/POTFILES
/po/quot.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/stamp-it

/src/.deps/
/src/parlatype
/src/pt-resources.*

