/* custom styles for PtWaveviewer */

.cursor {
	color: #cc0000;
}

.cursor:backdrop {
	color: #cc6060;
}

.selection {
	color: rgba(90%,50%,50%,0.5);
}

scrolledwindow undershoot.left,
scrolledwindow undershoot.right,
scrolledwindow overshoot.left,
scrolledwindow overshoot.right {
	background: none;
}

/* focus ring */
box > widget:focus:focus-visible	 {
	transition-property: outline, outline-width, outline-offset, outline-color;
	transition-duration: 300ms;
	animation-timing-function: ease-in-out;

	outline: solid;
	outline-color: alpha(@theme_selected_bg_color, .5);
	outline-width: 2px;
	outline-offset: -2px;
}
