/* custom styles for PtWaveviewer */

.cursor {
	color: #cc0000;
}

.cursor:backdrop {
	color: #cc6060;
}

.selection {
	color: rgba(90%,50%,50%,0.5);
}

scrolledwindow undershoot.left,
scrolledwindow undershoot.right,
scrolledwindow overshoot.left,
scrolledwindow overshoot.right {
	background: none;
}
