--- 
--- 

@import "minima";

/* Don't display post list heading, we have a title instead */
.post-list-heading {
	display: none;
}

/* Make headings smaller
   h2 is like original h3
   h3 is like original h4 */
.post-content {
  h2 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h3 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/* Heading margins on top bigger, bottom smaller */
.post-content h2, .post-content h3 .post-content h4 {
	margin-top: $spacing-unit * 1.5;
	margin-bottom: $spacing-unit / 3;
}

/* Add icon in title as background */
.site-title {
	background-image: url("../images/org.parlatype.Parlatype.svg");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: top 2px left 0px;
	padding-left: 60px;
}

/* Make header sticky */
.site-header {
	position: sticky;
	top: 0;
	background: $background-color;
}

/* Download button */
.download-button {
	padding: .3em .8em;
	border: 1px solid rgba(0,0,0,.1);
	background: $brand-color;
	background: $brand-color linear-gradient(hsla(0,0%,100%,.2), transparent);
	border-radius: .2em;
	// No shadow for now
	//box-shadow: 0 .05em .25em rgba(0,0,0,.5);
	display: inline-block;
	margin-top: 2em;
}

.download-button, .download-button:hover, .download-button:visited {
	color: white;
}
